.delete-btn {
  background-color: #ff4d4d;
  color: white;
  border: none;
  margin-left: 10px;
  padding: 5px 8px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s;
}

.delete-btn:hover {
  background-color: #d11a1a;
}
